# Ignore intermediate body.json file from PowerShell Script
body.json
# Ignore zip file for publish
botnotselfcontained.zip
# Ignore Terraform tfvars
*.tfvars.*
# Ignore Terraform plan files (we just use this notation since internet search didn't brought any ideas)
*.tfplan
# Ignore IaC Folder
IaC/